.ap-code-xml {
	display: block;

	.ap-code-xml-markup {
		color: slateblue;
	}

	.ap-code-xml-att {
		.ap-code-xml-att-name {
			color: seagreen;
		}
		.ap-code-xml-att-value {
			color: goldenrod;
		}
	}
	.ap-code-xml-content {
		color: black;
	}
	.ap-code-xml-content>.ap-code-xml {
		font-size: 100%;
		padding: 0;
		padding-left: 15px;
	}
}

.ap-code-xml-comment {
	color: grey;	
}